builds:
  - src: .
    use: "@vercel/docker"
    config:
      dockerfilePath: ./Dockerfile  # Dockerfileのパス
      buildCommand: 'docker build -t invidious .'  # ビルドコマンド
      startCommand: 'docker run -p 3000:3000 invidious'  # コンテナ起動コマンド

services:
  - type: web
    name: invidious
    envVars:
      - key: INVIDIOUS_HOST
        value: "0.0.0.0"
      - key: PORT
        value: "3000"
    ports:
      - port: 3000  # 使用するポート番号

databases:
  - name: invidious-db
    type: postgres
    envVars:
      - key: DB_HOST
        value: "invidious-db"
    region: us-east

