services:
  - type: web
    name: invidious
    buildCommand: 'docker build -t invidious .'  # ビルドコマンド
    startCommand: 'docker run -p 3000:3000 invidious'  # コンテナ起動コマンド
    envVars:
      - key: INVIDIOUS_HOST
        value: "0.0.0.0"
      - key: PORT
        value: "3000"
    ports:
      - port: 3000  # 使用するポート番号

databases:
  - name: invidious-db
    type: postgres  # データベースタイプの指定
    envVars:
      - key: DB_HOST
        value: "invidious-db"
    region: us-east
